*{
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Times New Roman';
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    background: rgb(22,219,35);
    background: linear-gradient(90deg, rgba(22,219,35,1) 0%, rgba(217,142,9,1) 35%, rgba(217,104,202,1) 100%);
}
.form_signup{
    align-items: center;
    margin:right 50px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 500px;
    }
h2{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px; 
    color:#fff;
    text-align: center;
}